@page "{handler?}"
@model StubIdpCore.Pages.InteractiveModel
@{
    ViewData["Title"] = "SAML";
}

<div class="container">
    <div class="col-lg-8 card">
        <h2>Send SAML2 Response</h2>
        <div class="contents">
            <p>
                This form will send a SAML2 Response to a service provider. If the In Response To ID
                field is empty, the Response is considered unsolicited (IDP initiated).
            </p>
            @using (Html.BeginForm("Index", "Home", FormMethod.Post))
            {
                <div class="hide-details form-group row">
                    @Html.LabelFor(m => m.Model.InResponseTo, new { @class = "col-form-label col-md-4" })
                    <div class="col-md-8">
                        @Html.TextBoxFor(m => m.Model.InResponseTo, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Model.InResponseTo)
                    </div>
                </div>

                <div class="hide-details form-group row">
                    @Html.LabelFor(m => m.Model.AssertionConsumerServiceUrl, new { @class = "col-form-label col-md-4" })
                    <div class="col-md-8">
                        @Html.TextBoxFor(m => m.Model.AssertionConsumerServiceUrl, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Model.AssertionConsumerServiceUrl)
                    </div>
                </div>

                <div class="hide-details form-group row">
                    @Html.LabelFor(m => m.Model.Audience, new { @class = "col-form-label col-md-4" })
                    <div class="col-md-8">
                        @Html.TextBoxFor(m => m.Model.Audience, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Model.Audience)
                    </div>
                </div>

                <div class="hide-details form-group row">
                    @Html.LabelFor(m => m.Model.RelayState, new { @class = "col-form-label col-md-4" })
                    <div class="col-md-8">
                        @Html.TextBoxFor(m => m.Model.RelayState, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Model.RelayState)
                    </div>
                </div>

                <div class="hide-details form-group row">
                    @Html.LabelFor(m => m.Model.NameId, new { @class = "col-form-label col-md-4" })
                    <div class="col-md-8">
                        @Html.TextBoxFor(m => m.Model.NameId, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Model.NameId)
                    </div>
                </div>

                <div class="hide-details form-group row">
                    @Html.LabelFor(m => m.Model.SessionIndex, new { @class = "col-form-label col-md-4" })
                    <div class="col-md-8">
                        @Html.TextBoxFor(m => m.Model.SessionIndex, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Model.SessionIndex)
                    </div>
                </div>
                <p></p>
                <button class="btn btn-primary" id="submit">Log in</button>
            }

        </div>
    </div>
</div>
